In [2]:
#markdown and scope of project goes here, scope of data

In [5]:
import pandas as pd
import numpy as np
import Aquire as aq
import Prepare as pr

In [29]:
#Data Aquisition -- Grab NBA csv Files from "NBA-Files" file taken from 
players_df =  aq.get_players_raw()
games_df = aq.get_games_raw()
game_details_df = aq.get_game_details_raw()
ranking_df = aq.get_ranking_raw()
teams_df = aq.get_teams_raw()

In [7]:
players_df[:3]

        PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
0     Royce O'Neale  1610612762    1626220    2019
1  Bojan Bogdanovic  1610612762     202711    2019
2       Rudy Gobert  1610612762     203497    2019

In [8]:
games_df[:3]

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2021-03-21,22000645,Final,1610612748,1610612754,2020,1610612748,106.0,0.402,0.826,...,27.0,51.0,1610612754,109.0,0.388,0.900,0.333,27.0,50.0,0
1,2021-03-21,22000016,Final,1610612745,1610612760,2020,1610612745,112.0,0.494,0.741,...,22.0,38.0,1610612760,114.0,0.462,0.680,0.333,22.0,52.0,0
2,2021-03-21,22000646,Final,1610612743,1610612740,2020,1610612743,108.0,0.500,0.800,...,30.0,37.0,1610612740,113.0,0.482,0.767,0.286,26.0,45.0,0

In [9]:
game_details_df[:3]

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22000645,1610612754,IND,Indiana,203200,Justin Holiday,F,NaN,41:45,5.0,...,0.0,5.0,5.0,2.0,2.0,2.0,2.0,2.0,15.0,8.0
1,22000645,1610612754,IND,Indiana,1627734,Domantas Sabonis,F,NaN,35:06,5.0,...,2.0,9.0,11.0,1.0,3.0,0.0,5.0,6.0,17.0,-2.0
2,22000645,1610612754,IND,Indiana,1626167,Myles Turner,C,NaN,29:58,4.0,...,1.0,5.0,6.0,1.0,0.0,5.0,2.0,3.0,16.0,6.0

In [10]:
ranking_df[:3]

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612762,0,22020,2021-03-21,West,Utah,41,30,11,0.732,16-2,14-9,NaN
1,1610612756,0,22020,2021-03-21,West,Phoenix,41,28,13,0.683,15-8,13-5,NaN
2,1610612747,0,22020,2021-03-21,West,L.A. Lakers,43,28,15,0.651,14-9,14-6,NaN

In [11]:
teams_df[:3]

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate

In [12]:
#Data Preperation, lets visualize the scope of each cvs file to see what may need to be cleaned up

In [13]:
#players

In [14]:
players_df.shape

(7228, 4)

In [15]:
players_df.info()
#no nulls

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7228 entries, 0 to 7227
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PLAYER_NAME  7228 non-null   object
 1   TEAM_ID      7228 non-null   int64
 2   PLAYER_ID    7228 non-null   int64
 3   SEASON       7228 non-null   int64
dtypes: int64(3), object(1)
memory usage: 226.0+ KB

In [16]:
player_range = players_df.SEASON.max() - players_df.SEASON.min()
#player season range is ten years
player_range

10

In [17]:
#to-do list for players
#drop duplicates

In [18]:
#GAMES

In [19]:
games_df.shape

(24195, 21)

In [20]:
games_df.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

In [21]:
games_df.info()
#some nulls, lets visualize those nulls to find out what the are

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24195 entries, 0 to 24194
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     24195 non-null  object
 1   GAME_ID           24195 non-null  int64
 2   GAME_STATUS_TEXT  24195 non-null  object
 3   HOME_TEAM_ID      24195 non-null  int64
 4   VISITOR_TEAM_ID   24195 non-null  int64
 5   SEASON            24195 non-null  int64
 6   TEAM_ID_home      24195 non-null  int64
 7   PTS_home          24096 non-null  float64
 8   FG_PCT_home       24096 non-null  float64
 9   FT_PCT_home       24096 non-null  float64
 10  FG3_PCT_home      24096 non-null  float64
 11  AST_home          24096 non-null  float64
 12  REB_home          24096 non-null  float64
 13  TEAM_ID_away      24195 non-null  int64
 14  PTS_away          24096 non-null  float64
 15  FG_PCT_away       24096 non-null  float64
 16  FT_PCT_away       24096 non-null  float64
 17  FG3_PCT_away      24096 non-null  float64
 18  AST_away          24096 non-null  float64
 19  REB_away          24096 non-null  float64
 20  HOME_TEAM_WINS    24195 non-null  int64
dtypes: float64(12), int64(7), object(2)
memory usage: 3.9+ MB

In [22]:
#99 games missing
missing = games_df.isnull().sum()
missing[missing > 0]

PTS_home        99
FG_PCT_home     99
FT_PCT_home     99
FG3_PCT_home    99
AST_home        99
REB_home        99
PTS_away        99
FG_PCT_away     99
FT_PCT_away     99
FG3_PCT_away    99
AST_away        99
REB_away        99
dtype: int64

In [23]:
games_df[(games_df['PTS_home'].isnull()) & (games_df["SEASON"] == 2003)].GAME_ID.count()
#looks like the 99 games missing are from the 2003 season

99

In [24]:
#rescope the data to only look at the 2004 season and up
#drop duplicates

In [25]:
#GAME DETAILS
game_details_df.shape

(602767, 28)

In [42]:
game_details_df.info()
#the game_details from the 99 games in 2003 season need to be removed

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602767 entries, 0 to 602766
Data columns (total 28 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            602767 non-null  int64
 1   TEAM_ID            602767 non-null  int64
 2   TEAM_ABBREVIATION  602767 non-null  object
 3   TEAM_CITY          602767 non-null  object
 4   PLAYER_ID          602767 non-null  int64
 5   PLAYER_NAME        602767 non-null  object
 6   START_POSITION     231035 non-null  object
 7   COMMENT            97435 non-null   object
 8   MIN                505331 non-null  object
 9   FGM                505331 non-null  float64
 10  FGA                505331 non-null  float64
 11  FG_PCT             505331 non-null  float64
 12  FG3M               505331 non-null  float64
 13  FG3A               505331 non-null  float64
 14  FG3_PCT            505331 non-null  float64
 15  FTM                505331 non-null  float64
 16  FTA                505331 non-null  float64
 17  FT_PCT             505331 non-null  float64
 18  OREB               505331 non-null  float64
 19  DREB               505331 non-null  float64
 20  REB                505331 non-null  float64
 21  AST                505331 non-null  float64
 22  STL                505331 non-null  float64
 23  BLK                505331 non-null  float64
 24  TO                 505331 non-null  float64
 25  PF                 505331 non-null  float64
 26  PTS                505331 non-null  float64
 27  PLUS_MINUS         481670 non-null  float64
dtypes: float64(19), int64(3), object(6)
memory usage: 128.8+ MB

In [ ]:
#rescope the data to only look at the 2004 season and up
#drop duplicates